<div id="mainContainer">
    <div id="header">Last component closed: {{lastClosed}}</div>
    <div id="buttons">
        <button class="buttons" (click)="toggleCompo(1)">1</button>
        <button class="buttons" (click)="toggleCompo(2)">2</button>
        <button class="buttons" (click)="toggleCompo(3)">3</button>
    </div>
    <div id="searchingBy">
        <p>Searching by: {{searchQuery}}</p>
    </div>
    <div id="components">
        <div *ngIf="showCompoFlags[0]" id="firstContainer">
            <app-child-component [infoChildComponent]="infoComponents[0]" (eventClose)="closeCompo($event)" (eventSearch)="getSearchEvent($event)"></app-child-component>
        </div>
        <div *ngIf="showCompoFlags[1]" id="secondContainer">
            <app-child-component [infoChildComponent]="infoComponents[1]" (eventClose)="closeCompo($event)" (eventSearch)="getSearchEvent($event)"></app-child-component>
        </div> 
        <div *ngIf="showCompoFlags[2]" id="thirdContainer">
            <app-child-component [infoChildComponent]="infoComponents[2]" (eventClose)="closeCompo($event)" (eventSearch)="getSearchEvent($event)"></app-child-component>
        </div>
    </div>
</div> 
